llama-index-readers-github
flask
llama-index-vector-stores-faiss
llama-index-embeddings-huggingface
langchainhub #pour les prompts automatiques
llama-index-llms-langchain
llama-index-llms-fireworks
ipython #pour afficher les prompts
