lib64
elastic_search_info.txt
__pycache__
essaiRAG
.chainlit
index.py
data
.files
.env
example.ini
.vscode
sandboxRAG/differents_textes/moodle
sandboxRAG/llama_index/*
sandboxRAG/vectorstores/llama_index_mpnet/*
